@use '../sass/abstracts/mixins.scss';

.heading {
    font-family: Arial;
    font-weight: bold;

    &.heading1 {
        font-size: 3rem;
        @include mixins.breakpoint(sm) {
            font-size: 3.5rem;
        
        }
        @include mixins.breakpoint(md) {
            font-size: 4rem;
        
        }
        @include mixins.breakpoint(lg) {
            font-size: 4.5rem;
        
        }
    }
    &.heading2 {
        font-size: 3rem;
    }
    &.heading3 {
        font-size: 1.5rem;
    }
}